<footer id="footer">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-2">
                <ul class="public-footer-ul">
                    <li><a href="/" class="public-footer-text">Home</a></li>
                    <li><a href="/contact" class="public-footer-text">Contact</a></li>
                    <li><a href="/about" class="public-footer-text">About</a></li>
                    <li><a href="/login" id="secret-login-button">Login</a></li>
                </ul>
            </div>
            <div class="col-2 justify-content-end">
                <h6>Locations:</h6>
            </div>
            <div class="col-2">
                <ul class="public-footer-ul ">
                    
                    <li><a href="/southwest" class="public-footer-text p-0">Southwest</a></li>
                    <li><a href="/midwest" class="public-footer-text p-0">Midwest</a></li>
                    <li><a href="/northeast" class="public-footer-text">Northeast</a></li>
                    <li><a href="/southeast" class="public-footer-text">Southeast</a></li>
                </ul>
            </div>
            
                
            </div>
        </div>
    </div>
    <div class="container-fluid  bg-black m-0 p-0">
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="text-center">unSivilized Blog</p>
            </div>
        </div>
    </div>    
        
    
   </footer>