<nav class="navbar bg-#3A130C navbar-dark navbar-expand-md">
    <div class="container">
      <a href="#/" class="navbar-brand">
        <span class="fw-bold text-light" id="nav-title">unSivilized Travels</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
        aria-label="toggle navigation">
            <span class="navbar-toggler-icon text-light"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-center" 
        id="main-nav">
            <ul class="navbar-nav" id="navbar-dropdown">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/allblogs" class="nav-link">All Blogs</a>
                </li>
                <li class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Regions
                    </button>
                     <ul class="dropdown-menu text-center" id="dropdown-in-dropdown" role="menu">
                        <li><a href="/southwest" class="nav-dropdown-links">Southwest</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/western" class="nav-dropdown-links">Western</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/midwest" class="nav-dropdown-links">Midwest</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/northeast" class="nav-dropdown-links">Northeast</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/southeast" class="nav-dropdown-links">Southeast</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a href="/international" class="nav-dropdown-links">International</a></li>
                        
                     </ul>
                 </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/unsivilizedtravels/" class="nav-link" target="_blank"><img src="/images/icons8-instagram-48.png" alt=""></a>
                </li>
            </ul>
    </div>
    </div>
</nav>