<%- include('partials/adminHeader') %>
<%- include('partials/adminNav') %>
<link rel="stylesheet" href="/styles/admin.css">
<%- include('partials/head-body') %>
    
<h1 class="text-center my-5" id="amin-home-welcome">Welcome Back, Kaily</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <a href="/edit"><button class="my-5 home-admin-buttons">Edit & Delete Blogs</button></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <a href="/form"><button class="my-5 home-admin-buttons">Write Blog</button></a>
            </div>
        </div>
        
            
        </div>

    </div>

<%- include('partials/adminFooter') %>