not{
    primary: Copperlate gothic 32 BC
    secondary Arapey
    bold bebas neue
}

/* IDFK */
/*
#he{
    display: grid;
    text-align: center;
}
#unsiv{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    padding-bottom: 2px;
}
*/